.Contact{
    margin: auto;
    width: 60%;
}
.user__name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: .5em 0;
}
h1{
    font-weight: 600;
    color: #101828;
    margin: .5em 0;
    font-size: 2.25rem;
}
p{
    color: #475467;
}
label{
    color: #344054;
    font-weight: 500;
    font-size: .875rem;
    display: inline-block;
    margin: .5em 0;
}
input, textarea{
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: .75rem 0.875rem;
}
input:focus{
    border: 1px solid #84CAFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    outline: #84CAFF;
}

#message, #email, #first_name, #last_name, textarea{
    width: 100%;
}
textarea{
    height: 100px;
}
textarea:focus{
    outline: #84CAFF;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}
.error__message{
    color: #F83F23;
    font-size: 0.875rem;
}
#checkbox{
    vertical-align: middle;
    margin: .5em 0;
    margin-right: 5px;
    border: 1px solid #D0D5DD;
    height: 20px;
    border-radius: 6px;
    width: 20px;
}
#checkbox:checked{
    background: #F9FAFB;
    border: 1px solid #1570EF;
    border-radius: 6px;
}
#checkbox:focus{
    background: #FFFFFF;
    border: 1px solid #84CAFF;
    box-shadow: 0px 0px 0px 4px #D1E9FF;
    border-radius: 6px;
}
#checkbox:disabled{
    background: #F2F4F7;
    border: 1px solid #D0D5DD;
}
.border__show{
    border: 1px solid #F89687;
}
.border__show:focus{
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}
::placeholder{
    color: #667085;
}
button{
    background-color: #1570EF;
    color: #FFFFFF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin: 1rem 0;
    width: 100%;
    padding: .8rem;
    cursor: pointer;
}
button:hover{
    background: #175CD3;
    border: 1px solid #175CD3;
}
button:focus{
    background: #1570EF;
    border: 1px solid #1570EF;
}
button:disabled{
    background: #B2DDFF;
    border: 1px solid #B2DDFF;
}
@media screen and (max-width: 450px){
    .Contact{
        width: 90%;
    }
    .user__name{
        grid-template-columns: 1fr;
    }
}