.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
.linktree--div{
  margin: auto;
  width: 80%;
  padding: 0 4rem;
  text-align: center;
}
/* Profile  */
#profile-img{
  width: 88px;
  margin: auto;
  height: 88px;
  margin-bottom: .5rem;
}
h2{
  font-size: 1.25rem;
  color: #101828;
  font-weight: 700;
  margin-bottom: .5rem;
}
#slack{
  visibility: hidden;
}
.share--icon, .ellipsis{
  border: 1px dashed #D0D5DD;
  border-radius: 50%;
  padding: .5rem;
  cursor: pointer;
}
.share--icon{
  position: absolute;
  margin-left: 300px;
}
.share--icon:disabled, .ellipsis:disabled{
  background: #F9FAFB;
  border: 1px dashed #EAECF0;
}
.share--icon:focus, .ellipsis:focus{
  border: 1px dashed #D0D5DD;
  box-shadow: 0px 0px 0px 4px #F2F4F7;
}
.share--icon:hover, .ellipsis:hover{
  background: #F9FAFB;
  border: 1px dashed #D0D5DD;
}
.ellipsis{
  display: none;
}
/* Profile  */

.link{
  background: #EAECF0;
  border: 1px solid #EAECF0;
  padding: 1rem;
  margin: .8rem 0;
  border-radius: 8px;
  border: 1px solid transparent;
}
.link:disabled{
  background-color: #FCFCFD;
}
.link:focus{
  background-color: #EAECF0;
}
.link:hover{
  background: #D0D5DD;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
a{
  text-decoration: none;
  color: #101828;
  font-size: 1.125rem;
  font-weight: 500;
}
.description{
  font-size: .8rem;
  font-weight: 600;
  margin-top: .5rem;
}
.icons{
  padding-bottom: 1rem;
}

/* Footer */
.Footer{
  position: absolute;
  bottom: 0;
  width: 60%;
  padding-bottom: .5rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2em;
  color: #667085;
}
hr{
  width: 90%;
  margin: auto;
  background-color: #D0D5DD;
  height: 0.2px;
  opacity: .3;
}
/* Footer */

@media screen and (max-width: 800px){
  .linktree--div{
    width: 90%;
    padding: 2rem 1rem;
  }
  .footer{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .ellipsis{
    display: block;
    float: right;
  }
  .share--icon{
    display: none;
  }
  hr{
    width: 100%;
  }
  .footer p{
    margin: .8em 0;
  }
}